@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section start */
.banner-container {
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180deg,
            rgba(16, 16, 16, 0.845) -19.5%,
            rgba(16, 16, 16, 0.339) 100%), url(images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.banner-content {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 600px;
}


.banner-content p {
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}

.discount {
    width: 802.9px;
    height: 806px;
    margin: auto;
    margin-top: 90px;
    /* left: 399px;
    right: 398.1px;
    top: 770px;
    bottom: 5759px; */
}

.discount h3 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.discount p {
    margin-top: -10px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.discount h4 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.discount img {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    margin-left: 18%;
}